/* Common Color */

$white: #fff;
$black: #333;
$gray: #eee;



/* Theme Color */

$link_color: #333;
$link_hover: #ff6347;
$Primary_color: #ff6347;
$heading_color: #ff6347;
$bg_gray: #f6f6f6;
$border_color: #333;
$btn_background: #ff6347;
$btn_hover: #333;